.rounded-xl {
  border-radius: 0.75rem;
}

.has-image-background {
  background: url("https://picsum.photos/id/16/3840/2160");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.blur-effect {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
